#image {
    background-color: white;
    color: black;

}
body {
    background-color: rgb(240, 214, 180);

}
p {
    color: white;

}
#gt {
    color: red;
    font-weight: border;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-variant: small-caps;
}
#camera {
    border: 3px dashed rgb(15, 12, 10);
    height: 300px;
    width: 250px;
}

